
icon.ico
icon.png
icon32.png
ImageViewer.exe
ImageViewer.exe - Atalho.lnk
ImageViewer_original.exe
libjpeg-9.dll
libpng16-16.dll
libtiff-5.dll
libwebp-7.dll
main_wip.c
SDL2.dll
SDL2_image.dll
zlib1.dll
