
ImageViewer.exe
ImageViewer.exe - Atalho.lnk
ImageViewer_original.exe
libjpeg-9.dll
libpng16-16.dll
libtiff-5.dll
libwebp-7.dll
main_wip.c
SDL2.dll
SDL2_image.dll
zlib1.dll
GIF_VIEWER/SDL_gifwrap.h
GIF_VIEWER/SDL_gifwrap.c
GIF_VIEWER/makefile
GIF_VIEWER/main.c
GIF_VIEWER/ImageViewer_gif.exe
GIF_VIEWER/giflib-5.2.1/TODO
GIF_VIEWER/giflib-5.2.1/tests/x-trans.rgb
GIF_VIEWER/giflib-5.2.1/tests/x-trans.map
GIF_VIEWER/giflib-5.2.1/tests/x-trans.dmp
GIF_VIEWER/giflib-5.2.1/tests/welcome2.rgb
GIF_VIEWER/giflib-5.2.1/tests/welcome2.map
GIF_VIEWER/giflib-5.2.1/tests/welcome2.dmp
GIF_VIEWER/giflib-5.2.1/tests/wedge.gif
GIF_VIEWER/giflib-5.2.1/tests/treescap.rgb
GIF_VIEWER/giflib-5.2.1/tests/treescap.map
GIF_VIEWER/giflib-5.2.1/tests/treescap.ico
GIF_VIEWER/giflib-5.2.1/tests/treescap.dmp
GIF_VIEWER/giflib-5.2.1/tests/treescap-interlaced.rgb
GIF_VIEWER/giflib-5.2.1/tests/treescap-interlaced.map
GIF_VIEWER/giflib-5.2.1/tests/treescap-interlaced.dmp
GIF_VIEWER/giflib-5.2.1/tests/solid2.rgb
GIF_VIEWER/giflib-5.2.1/tests/solid2.map
GIF_VIEWER/giflib-5.2.1/tests/solid2.dmp
GIF_VIEWER/giflib-5.2.1/tests/porsche.rgb
GIF_VIEWER/giflib-5.2.1/tests/porsche.map
GIF_VIEWER/giflib-5.2.1/tests/porsche.dmp
GIF_VIEWER/giflib-5.2.1/tests/makefile
GIF_VIEWER/giflib-5.2.1/tests/gifgrid.rgb
GIF_VIEWER/giflib-5.2.1/tests/gifgrid.map
GIF_VIEWER/giflib-5.2.1/tests/gifgrid.ico
GIF_VIEWER/giflib-5.2.1/tests/gifgrid.dmp
GIF_VIEWER/giflib-5.2.1/tests/giffixed.ico
GIF_VIEWER/giflib-5.2.1/tests/foobar.ico
GIF_VIEWER/giflib-5.2.1/tests/fire.rgb
GIF_VIEWER/giflib-5.2.1/tests/fire.map
GIF_VIEWER/giflib-5.2.1/tests/fire.dmp
GIF_VIEWER/giflib-5.2.1/README
GIF_VIEWER/giflib-5.2.1/quantize.c
GIF_VIEWER/giflib-5.2.1/qprintf.c
GIF_VIEWER/giflib-5.2.1/pic/x-trans.gif
GIF_VIEWER/giflib-5.2.1/pic/welcome2.gif
GIF_VIEWER/giflib-5.2.1/pic/treescap.gif
GIF_VIEWER/giflib-5.2.1/pic/treescap-interlaced.gif
GIF_VIEWER/giflib-5.2.1/pic/solid2.gif
GIF_VIEWER/giflib-5.2.1/pic/sample.ico
GIF_VIEWER/giflib-5.2.1/pic/porsche.gif
GIF_VIEWER/giflib-5.2.1/pic/NOTES
GIF_VIEWER/giflib-5.2.1/pic/gifgrid.gif
GIF_VIEWER/giflib-5.2.1/pic/fire.gif
GIF_VIEWER/giflib-5.2.1/openbsd-reallocarray.c
GIF_VIEWER/giflib-5.2.1/NEWS
GIF_VIEWER/giflib-5.2.1/Makefile
GIF_VIEWER/giflib-5.2.1/history.adoc
GIF_VIEWER/giflib-5.2.1/gifwedge.c
GIF_VIEWER/giflib-5.2.1/giftool.c
GIF_VIEWER/giflib-5.2.1/giftext.c
GIF_VIEWER/giflib-5.2.1/gifsponge.c
GIF_VIEWER/giflib-5.2.1/gifinto.c
GIF_VIEWER/giflib-5.2.1/gifhisto.c
GIF_VIEWER/giflib-5.2.1/giffix.c
GIF_VIEWER/giflib-5.2.1/giffilter.c
GIF_VIEWER/giflib-5.2.1/gifecho.c
GIF_VIEWER/giflib-5.2.1/gifcolor.c
GIF_VIEWER/giflib-5.2.1/gifclrmp.c
GIF_VIEWER/giflib-5.2.1/gifbuild.c
GIF_VIEWER/giflib-5.2.1/gifbg.c
GIF_VIEWER/giflib-5.2.1/gifalloc.c
GIF_VIEWER/giflib-5.2.1/gif_lib_private.h
GIF_VIEWER/giflib-5.2.1/gif_lib.h
GIF_VIEWER/giflib-5.2.1/gif_hash.h
GIF_VIEWER/giflib-5.2.1/gif_hash.c
GIF_VIEWER/giflib-5.2.1/gif_font.c
GIF_VIEWER/giflib-5.2.1/gif_err.c
GIF_VIEWER/giflib-5.2.1/gif2rgb.c
GIF_VIEWER/giflib-5.2.1/getversion
GIF_VIEWER/giflib-5.2.1/getarg.h
GIF_VIEWER/giflib-5.2.1/getarg.c
GIF_VIEWER/giflib-5.2.1/egif_lib.c
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/trailer_block.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_yellow_large.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_green_yellow_diff.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_green_large.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_animation_yellow.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_animation_red.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_2_animation_green.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_1_trans_red.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_1_trans_blue.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_1_trans.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_1_enlarged.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/sample_1.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/lzw_image_data_code_table.html
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/lzw_image_data.html
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/lzw_encoding_codes.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/lzw_decoding_bytes.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/logical_screen_desc_block.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/index.html
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/image_descriptor_block.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/image_data_block.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/highlight_purple.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/highlight_green.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/header_block.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/graphic_control_ext.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/global_color_table.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/gif_file_stream.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/comment_ext.gif
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/bits_and_bytes.html
GIF_VIEWER/giflib-5.2.1/doc/whatsinagif/animation_and_transparency.html
GIF_VIEWER/giflib-5.2.1/doc/Makefile
GIF_VIEWER/giflib-5.2.1/doc/intro.xml
GIF_VIEWER/giflib-5.2.1/doc/intro.html
GIF_VIEWER/giflib-5.2.1/doc/index.html.in
GIF_VIEWER/giflib-5.2.1/doc/index.html
GIF_VIEWER/giflib-5.2.1/doc/gifwedge.xml
GIF_VIEWER/giflib-5.2.1/doc/gifwedge.html
GIF_VIEWER/giflib-5.2.1/doc/gifwedge.1
GIF_VIEWER/giflib-5.2.1/doc/giftool.xml
GIF_VIEWER/giflib-5.2.1/doc/giftool.html
GIF_VIEWER/giflib-5.2.1/doc/giftool.1
GIF_VIEWER/giflib-5.2.1/doc/giftext.xml
GIF_VIEWER/giflib-5.2.1/doc/giftext.html
GIF_VIEWER/giflib-5.2.1/doc/giftext.1
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/main.css
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/LZW-and-GIF-explained.html
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif89a.js
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/GIF89a.html
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif89a.css
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif89.txt
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif87.txt
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif-aspectratio.png
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif-1over64.png
GIF_VIEWER/giflib-5.2.1/doc/gifstandard/gif-1over100.png
GIF_VIEWER/giflib-5.2.1/doc/giflib.xml
GIF_VIEWER/giflib-5.2.1/doc/giflib.html
GIF_VIEWER/giflib-5.2.1/doc/giflib.1
GIF_VIEWER/giflib-5.2.1/doc/gifinto.xml
GIF_VIEWER/giflib-5.2.1/doc/gifinto.html
GIF_VIEWER/giflib-5.2.1/doc/gifinto.1
GIF_VIEWER/giflib-5.2.1/doc/gifhisto.xml
GIF_VIEWER/giflib-5.2.1/doc/gifhisto.html
GIF_VIEWER/giflib-5.2.1/doc/gifhisto.1
GIF_VIEWER/giflib-5.2.1/doc/giffix.xml
GIF_VIEWER/giflib-5.2.1/doc/giffix.html
GIF_VIEWER/giflib-5.2.1/doc/giffix.1
GIF_VIEWER/giflib-5.2.1/doc/gifecho.xml
GIF_VIEWER/giflib-5.2.1/doc/gifecho.html
GIF_VIEWER/giflib-5.2.1/doc/gifecho.1
GIF_VIEWER/giflib-5.2.1/doc/gifcolor.xml
GIF_VIEWER/giflib-5.2.1/doc/gifcolor.html
GIF_VIEWER/giflib-5.2.1/doc/gifcolor.1
GIF_VIEWER/giflib-5.2.1/doc/gifclrmp.xml
GIF_VIEWER/giflib-5.2.1/doc/gifclrmp.html
GIF_VIEWER/giflib-5.2.1/doc/gifclrmp.1
GIF_VIEWER/giflib-5.2.1/doc/gifbuild.xml
GIF_VIEWER/giflib-5.2.1/doc/gifbuild.html
GIF_VIEWER/giflib-5.2.1/doc/gifbuild.1
GIF_VIEWER/giflib-5.2.1/doc/gifbg.xml
GIF_VIEWER/giflib-5.2.1/doc/gifbg.html
GIF_VIEWER/giflib-5.2.1/doc/gifbg.1
GIF_VIEWER/giflib-5.2.1/doc/gif_lib.xml
GIF_VIEWER/giflib-5.2.1/doc/gif_lib.html
GIF_VIEWER/giflib-5.2.1/doc/gif2rgb.xml
GIF_VIEWER/giflib-5.2.1/doc/gif2rgb.html
GIF_VIEWER/giflib-5.2.1/doc/gif2rgb.1
GIF_VIEWER/giflib-5.2.1/doc/00README
GIF_VIEWER/giflib-5.2.1/dgif_lib.c
GIF_VIEWER/giflib-5.2.1/COPYING
GIF_VIEWER/giflib-5.2.1/control
GIF_VIEWER/giflib-5.2.1/ChangeLog
GIF_VIEWER/giflib-5.2.1/build.adoc
GIF_VIEWER/giflib-5.2.1.tar.gz
GIF_VIEWER/basics.h
GIF_VIEWER/basics.c
GIF_VIEWER/ai ai.gif
GIF_VIEWER/aham.gif
GIF_VIEWER/aham aham aham aham.gif
GIF_VIEWER/#MAKE.bat
"#MAKE.bat"
icon.png
icon 48.png
icon 48.ico
icon 32.png
icon 32.ico
icon 256.png
icon 256.ico
icon 24.png
icon 24.ico
icon 16.ico
icon 16.png
pngtoicon.com.zip
